<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contact-wrapper">
    <form [formGroup]="contactForm" (ngSubmit)="send()" class="contact-form">
      <ion-item>
        <ion-label position="stacked">Nom *</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email *</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sujet *</ion-label>
        <ion-input formControlName="subject"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Message *</ion-label>
        <ion-textarea formControlName="message" auto-grow="true" rows="5"></ion-textarea>
      </ion-item>

      <ion-button expand="block" type="submit" color="primary" [disabled]="contactForm.invalid">
        Envoyer
      </ion-button>
    </form>
  </div>
</ion-content>